<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width" initial-scale="1" charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
  <title>셀러 광고플랫폼 구축(이상현, 6045)</title>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h3 style="text-align: center;">광고 전시 리스트</h3>
    <div class="role">
      <table class="table" style="text-align: center; border: 1px  solid #dddddd">
        <thead>
        <tr>
          <th style="background-color: #E8F5FF; text-align: center;">광고입찰 ID</th>
          <th style="background-color: #E8F5FF; text-align: center;">업체 ID</th>
          <th style="background-color: #E8F5FF; text-align: center;">상품 ID</th>
          <th style="background-color: #E8F5FF; text-align: center;">광고입찰가</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${adDtos != null}" th:each="adDto: ${adDtos}" style="background-color: #FFFFFF;">
          <td th:text="${adDto.getBidId()}" style="background-color: #FFFFFF;"></td>
          <td th:text="${adDto.getCompanyId()}" style="background-color: #FFFFFF;"></td>
          <td th:text="${adDto.getProductId()}" style="background-color: #FFFFFF;"></td>
          <td th:text="${adDto.getBidPrice()}" style="background-color: #FFFFFF;"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>